In [ ]:
ETL

In [ ]:
html
web scrapping
sql

In [ ]:
pip import req

In [6]:
import numpy as np
import requests
import csv
import urllib.request
from bs4 import BeautifulSoup
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('dark')
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')
import pandas as pd

In [7]:
url = 'https://covid19.ncdc.gov.ng/'
response = requests.get(url)
print(response.status_code)

200

In [14]:
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.findAll('table', {'id':'custom1'})[0]
value = []
tr = table.findAll(['tr'])

In [17]:
csvFile = open("covidnig.csv",'wt',newline='',encoding='utf-8')
writer = csv.writer(csvFile)  
try:   
        for cell in tr:
            th = cell.find_all('th')
            th_data = [col.text.strip('\n') for col in th]
            td = cell.find_all('td')
            row = [i.text.replace('\n','') for i in td]
            writer.writerow(th_data+row)      
        
finally:   
    csvFile.close()

# Save the data to a DataFrame object.
dfnig = pd.read_csv('covidnig.csv')

In [19]:
dfnig

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,...,"101,391 ...","2,560","98,062 ...",769
1,...,"28,811 ...",94,"28,468 ...",249
2,...,"16,866 ...",115,"16,597 ...",154
3,...,"11,314 ...",7,"11,218 ...",89
4,...,"10,259 ...",3,"10,181 ...",75
5,...,"10,232 ...",1,"10,029 ...",202
6,...,"7,707",2,"7,384",321
7,...,"5,810",11,"5,717",82
8,...,"5,434",153,"5,170",111
9,...,"5,173",315,"4,749",109
10,...,"5,092",31,"4,934",127
11,...,"4,670",40,"4,586",44
12,...,"4,640",401,"4,175",64
13,...,"3,311",36,"3,183",92
14,...,"3,307",83,"3,158",66
15,...,"2,952",13,"2,910",29
16,...,"2,825",46,"2,760",19
17,...,"2,742",358,"2,345",39
18,...,"2,648",8,"2,582",58
19,...,"2,418",0,"2,381",37
20,...,"2,177",1,"2,142",34
21,...,"2,129",340,"1,764",25
22,...,"2,064",28,"2,004",32
23,...,"2,006",52,"1,926",28
24,...,"1,967",1,"1,942",24
25,...,"1,629",5,"1,580",44
26,...,"1,473",62,"1,377",34
27,...,"1,321",1,"1,292",28
28,...,"1,203",68,"1,103",32
29,...,"1,148",130,998,20
30,...,842,8,809,25
31,...,818,0,790,28
32,...,669,2,649,18
33,...,609,0,600,9
34,...,480,10,454,16
35,...,375,0,366,9
36,...,5,0,3,2